@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <p>@Model.Weather.Temperature</p>
    <p>@Model.Weather.City</p>
    <p>@Model.Weather.Country</p>


</div>
